<div class="card h-100 p-1 d-flex flex-column">
  <h3 class="card-title px-4 pt-4 m-0">REBALANCER</h3>
  <div class="card-body d-flex flex-column flex-grow-1 o-scroll">
    <div class="py-2">
      <strong class="border-bottom py-1 mb-3 d-block">SETTINGS</strong>
      <form [formGroup]="settingsForm">
        <div class="form-group">
          <label for="interval-hour">Interval</label>
          <select class="custom-select" formControlName="intervalHour" id="interval-hour">
            <option [value]="option.hours" *ngFor="let option of intervalOptions">{{option.label}}</option>
          </select>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="peak-cost">Peak Cost</label>
              <input type="number" class="form-control" id="peak-cost" placeholder="Peak Cost" formControlName="peakCost">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="off-peak-cost">Off-peak Cost</label>
              <input type="number" class="form-control" id="off-peak-cost" placeholder="Off-peak Cost" formControlName="offPeakCost">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="budget-per-cycle">Budget Per Cycle</label>
              <input type="number" class="form-control" id="budget-per-cycle" placeholder="Budget Per Cycle" formControlName="budgetPerCycle">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="cost-coef">Cost Coefficient</label>
              <input type="number" class="form-control" id="cost-coef" placeholder="Cost Coefficient" formControlName="costCoef">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="py-2">
      <strong class="border-bottom py-1 mb-3 d-block">CONTROLS</strong>
      <div class="time-container">
        <span>Current Time</span>
        <h1 class="font-weight-light">{{time | amDateFormat: 'YYYY/MM/DD, HH:ss:mm'}}</h1>
      </div>
      <button class="btn btn-primary btn-block" (click)="step(nextStatus)" [disabled]="disableStep">{{statusLabels[nextStatus] || '...'}}</button>
      <button class="btn btn-primary btn-block" (click)="step('finish')" [disabled]="currentStatus !== 'rides'">Finish</button>
    </div>
    <div class="py-2" *ngIf="statistics">
      <strong class="border-bottom py-1 mb-3 d-block">STATISTICS</strong>
      <span class="font-weight-normal">{{currentStatus === "finish" ? "Simulation Result" : "Current Cycle"}}</span>
      <table class="table table-sm mt-2">
        <tbody class="font-weight-light">
          <tr *ngFor="let stat of statistics">
            <td>{{stat.name}}</td>
            <td>{{stat.value | number}}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary btn-block" *ngIf="currentStatus === 'finish'" [href]="exportUrl">Export</a>
    </div>
  </div>
</div>