@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert.scss";

.o-hidden {
    overflow: hidden;
}

.o-scroll {
    overflow: scroll;
}

.pointer-events-none {
    pointer-events: none !important;

    * {
        pointer-events: all;
    }
}


.modal-xl {
    width: 90% !important;
    max-width: 1540px;
}
